CompileFlags:
  Add: [
    #-nostdinc, 
    -isysroot, /home/anant/dev/projs/chihaya-os/sysroot, 
    -I/home/anant/dev/projs/chihaya-os/sysroot/usr/include,
    -I/home/anant/dev/projs/barebones/opt/cross/lib/gcc/i686-elf/14.2.0/include/
  ]
